

.main-container {
  text-align: center;
  padding: 150px;
  background-color: #000000;
  min-height: 100vh;
  color: white;
}

ul{
list-style-type: none;
padding-left: 0px;
}

li{
  margin: 10px;
  border: 2px solid #FFFF00;
  border-radius: 10px;
  max-width: 450px;
  margin-left: 30%;

}

select{
  height: 21px;
}
